<div class="swiper" data-controller="carousel">
  <div class="swiper-wrapper">
    {% block slides %}
      <div class="swiper-slide" data-carousel-target="item">
        <div style="height:400px">
          <img src="https://picsum.photos/800/800" class="h-full w-full object-cover" alt="...">
        </div>
      </div>
      <div class="swiper-slide" data-carousel-target="item">
        <div style="height:500px">
          <img src="https://picsum.photos/800/800" class="h-full w-full object-cover" alt="...">
        </div>
      </div>
      <div class="swiper-slide" data-carousel-target="item">
        <div style="height:350px">
          <img src="https://picsum.photos/800/800" class="h-full w-full object-cover" alt="...">
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="swiper-pagination flex items-center justify-center gap-2 !bottom-0 p-4" data-carousel-target="pagination"></div>
  <div class="absolute z-10 left-0 top-0 bottom-0 grid place-items-center">
    <button class="p-4 bg-blue-700 ml-8 rounded-full disabled:opacity-50" type="button" data-carousel-target="prev">
      <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
    </button>
  </div>

  <div class="absolute z-10 right-0 top-0 bottom-0 grid place-items-center">
    <button class="p-4 bg-blue-700 mr-8 rounded-full disabled:opacity-50" type="button" data-carousel-target="next">
      <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
    </button>
  </div>
</div>

